[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "packages/color-theme-solarized"]
	path = packages/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/ecb"]
	path = packages/ecb
	url = https://github.com/alexott/ecb.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes
[submodule "packages/idris-mode"]
	path = packages/idris-mode
	url = https://github.com/idris-hackers/idris-mode
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "packages/ghc-mod"]
	path = packages/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "packages/company-ghc"]
	path = packages/company-ghc
	url = https://github.com/iquiw/company-ghc
[submodule "packages/cl-lib"]
	path = packages/cl-lib
	url = https://github.com/emacsmirror/cl-lib
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/defunkt/markdown-mode
[submodule "packages/hi2"]
	path = packages/hi2
	url = https://github.com/errge/hi2
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = git@github.com:fxbois/web-mode.git
